@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Philosopher:wght@400;700&family=Tangerine:wght@400;700&display=swap");

$display: "Abril Fatface", cursive;
$paragraph: "Philosopher", sans-serif;
$lead: "Tangerine", cursive;

/*----- Universal Styles -----*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #161616;
  color: #ccc;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// img {
//     width: 100%;
//     height: 100%;
//     background-blend-mode: overlay;
// }

.container {
  max-width: 1550px;
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 8px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, transparent, #ec407a);
  border-radius: 5px;
}
/* Scrollbar */

/*----- /Universal Styles -----*/

/*----- Header -----*/
.header {
  position: relative;
  height: 100vh;
  width: 100%;

  &.shrink {
    height: 100px;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 10;

    &.shrink {
      height: 100px;
    }

    .logo {
      span {
        color: salmon;
        font-size: 2vmin;
        margin-right: 0.2em;
      }

      margin-left: 15px;
      color: #ccc;
    }

    .menu {
      width: 100%;

      &.show .menu__links {
        position: fixed;
        top: 0;
        left: 0;
        display: inline-flex;
        height: 100vh;
        width: 100%;
        z-index: 10;

        opacity: 1;
        visibility: visible;
        transition-property: opacity, visibility;
        transition-timing-function: ease;
        transition-duration: 1.5s;

      }

      &__links {
        display: block;
        opacity: 0;
        visibility: hidden;
        align-items: center;
        justify-content: space-evenly;

        @media (max-width: 745px) {
            // display: none;
        }

        @media (min-width: 750px) {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }

        li {
          padding: 0 10px;

          &:last-child a {
            padding: 10px 15px;
            color: salmon;
            font-weight: bold;
            border: 3px double #ec407a;

            &:hover {
              background-color: #ec407a;
              color: #161616;
            }
          }

          a {
            color: #ccc;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2;
            transition: color 0.5s ease;

            &:hover {
              color: bisque;
            }
          }
        }
      }
    }

    .btn {
      background: transparent;
      color: #ccc;
      font-size: 16px;
      border: none;
      outline: none;
      padding: 0.8em 1em;
      cursor: pointer;
      z-index: 10;

      &-menu {
        color: #ccc;
        transition: all 0.2s ease;

        // to be show
        &.show {
          transform: rotate(90deg);
        }
      }

      &-side {
        background: transparent;
        color: #ccc;
        font-size: 16px;
        outline: none;
        border: 1px solid #ccc;
        padding: 0.8em 1em;
        margin-bottom: 0.5em;
        transition: all 0.5s ease;
        z-index: 15;

        &:hover {
          background: bisque;
          color: #161616;
        }

        // to be active
        &.active {
          transform: rotate(90deg);
          background: bisque;
          color: #161616;
        }
      }

      &-icon {
        margin: 0.4em 0;
        color: salmon;
        box-shadow: 0 5px 20px rgba(147, 147, 147, 0.8);
        // border-radius: 5px;
        transition: all 0.5s ease;

        &:hover {
          box-shadow: inset 10px 3px 50px rgba(255, 255, 255, 0.8);
        }
      }
    }

    &__icons {
      position: inherit;
      top: 15%;
      transform: translateX(-200%);
      background-color: rgba(0, 0, 0, 0.7);

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      transition: all 0.5s ease;

      &.show {
        transform: translateX(0);
      }
    }
  }

  .banner {
    position: fixed;
    top: 0;
    left: 0;
    // transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    z-index: 0;

    &.shrink {
      height: 100px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // transform: translate(-50%, -50%);
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.8)
      );
      // background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
      z-index: 1;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-blend-mode: overlay;

      position: relative;
    }
  }
}
/*----- /Header -----*/

/*---- Hero Section -----*/
.hero {
  overflow: hidden;

  .container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

  }


  &__image {
    width: calc(50% -50px);
    height: 320px;

    @media (max-width: 778px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__profile {
    margin-top: 20px;
    width: 460px;
    padding: 0 50px;

    @media (min-width: 1150px) {
      margin-left: 120px;
    }
    @media (max-width: 778px) {
      margin-left: 0;
      padding: 0 45px;
    }

    &-name {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2;
      line-height: 36px;
    }

    &-genre {
      font-size: 14px;
      opacity: .8;
    }

    &-description {
      margin: .5em 0;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1.2;
      line-height: 1.2;
      opacity: .8;
    }

    &-icons {
      margin-top: 20px;
      width: 100%;
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        padding: 15px 25px;
        border-radius: 5px;
        outline: none;
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;

        &:hover {
          background-color: #ec407a;
          color: #161616;
          border: #161616;
        }

        i {
          font-size: 16px;
        }
      }
    }

  }

}
/*---- Hero Section -----*/